.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  height: 600px;
}

.img {
  width: 400px;
  height: 500px;
}

.pages {
  display: flex;
  gap: 10px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.ganres {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.ganres>button {
  padding: 9px 11px;
  background-color: black;
  color: white;
}